[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=PhyxCalc
GenericName=Physical Expression Calculator
Comment=Easy to use calculator, especially for physical calculations
Exec=phyxcalc
Icon=phyxcalc64
Categories=Utility;Calculator;